<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.foodorderapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcherplaystore"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fsplash"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderApp">
        <activity
            android:name=".CartScreens"
            android:exported="false" />
        <activity
            android:name=".PlaceOrder"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity android:name=".ForgetPass" />
        <activity android:name=".signup" />
        <activity android:name=".OrderSucceessActivity" />
        <activity android:name=".PlaceYourOrderActivity" />
        <activity android:name=".RestaurantMenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".splashAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>